* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 360px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  }
  
  .form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  input, select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 0.9rem;
    border: none;
    background-color: #66a6ff;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #4d91f3;
  }
  
  p {
    text-align: center;
    margin-top: 1rem;
  }
  
  a {
    color: #4d91f3;
    text-decoration: none;
  }
  
  @media (max-width: 400px) {
    .container {
      margin: 1rem;
      padding: 1.5rem;
    }
  }
  

/* exam card */
.exam-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .exam-card {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .exam-card h4 {
    margin-bottom: 0.5rem;
  }
  
  .exam-card button {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #4CAF50;
  }
  

  /* exam.html  */
  label {
    display: block;
    margin: 5px 0;
  }
  
  button[type="submit"] {
    background-color: #28a745;
    margin-top: 1rem;
  }
  
<<<<<<< HEAD
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 6px solid #66a6ff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
=======
>>>>>>> 9ecd417a9c8ed65f3ec410000f2a6355cc69b98d
  